<title>{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

<!-- Load resources -->
<link rel="stylesheet" href="assets/css/main.min.css" />
<noscript><link rel="stylesheet" href="assets/css/noscript.min.css" /></noscript>
<link rel="stylesheet" href="assets/css/custom.min.css" />

<script src="https://kit.fontawesome.com/b9d14957cb.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic">

{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>

<script language="javascript">
function dflocfoVkBIfZXp()
{
/* Munged addy code */ 
var wpftpajSnqWBvfS=["x79","x6f","117","114","64","x65","x6d","97","x69","x6c","46","97","x64","x64","114","x65","115","x73"];
var sxphGtKToTTfvvi=[""];
var XBiycSkFeOqYHCI=["121","111","x75","x72","x40","x65","109","97","x69","108","46","x61","100","100","x72","x65","115","x73"];
document.write("<a href=\"&#x6d;&#x61;&#000105;&#x6c;&#x74;&#000111;&#x3a;");
for (i=0; i<wpftpajSnqWBvfS.length; i++) document.write('&#'+wpftpajSnqWBvfS[i]+';');
for (i=0; i<sxphGtKToTTfvvi.length; i++) document.write(sxphGtKToTTfvvi[i]);
document.write('" style="" class="" id="">');
for (i=0; i<XBiycSkFeOqYHCI.length; i++) document.write('&#'+XBiycSkFeOqYHCI[i]+';');
document.write('</a>');
/* Munged addy code */
}
</script>

{% endif %}
