<title>{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

<!-- Load resources -->
<link rel="stylesheet" href="assets/css/main.min.css" />
<noscript><link rel="stylesheet" href="assets/css/noscript.min.css" /></noscript>
<link rel="stylesheet" href="assets/css/custom.min.css" />

<script src="https://kit.fontawesome.com/b9d14957cb.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic">

{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>

<script language="javascript">
<!--
function SbIiRkbxCoeuTxF()
{
/* Munged addy code - YOU CAN EDIT COMMENT THIS TAG BETWEEN THE TWO STARS */ 
var PWjlhKUNQYQuqCs=["104","x6f","105","x40","112","97","x6e","x64","x6f","114","97","x73","102","111","120","x2e","x6e","x6c"];
var OhHtZDTrDOvSdBx=['?','s','u','b','j','e','c','t','=','&','c','c','=','&','b','c','c','=','&','b','o','d','y','='];
var mqisKrLKUwgHniQ=["x68","111","x69","64","x70","x61","110","100","x6f","114","97","115","x66","111","x78","x2e","110","x6c"];
document.write("<a href=\"&#x6d;&#x61;&#000105;&#108;&#000116;&#x6f;&#00058;");
for (i=0; i<PWjlhKUNQYQuqCs.length; i++) document.write('&#'+PWjlhKUNQYQuqCs[i]+';');
for (i=0; i<OhHtZDTrDOvSdBx.length; i++) document.write(OhHtZDTrDOvSdBx[i]);
document.write('" style="" class="" id="">');
for (i=0; i<mqisKrLKUwgHniQ.length; i++) document.write('&#'+mqisKrLKUwgHniQ[i]+';');
document.write('</a>');
/* Munged addy code - YOU CAN EDIT COMMENT THIS TAG BETWEEN THE TWO STARS */
}
//-->
  
</script>



{% endif %}
