<title>{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

<!-- Load resources -->
<link rel="stylesheet" href="assets/css/main.min.css" />
<noscript><link rel="stylesheet" href="assets/css/noscript.min.css" /></noscript>
<link rel="stylesheet" href="assets/css/custom.min.css" />

<script src="https://kit.fontawesome.com/b9d14957cb.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic">

{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>


<script language="javascript">
<!--
function WVtABELKfalFzot()
{
/* Munged addy code - YOU CAN EDIT COMMENT THIS TAG BETWEEN THE TWO STARS */ 
var tbDGYokQKpTdHeG=["x68","x6f","105","64","112","97","110","100","x6f","x72","x61","x73","102","111","120","x2e","110","x6c"];
var ZbbmGOgaPnKvDiR=[""];
var GwrHQnavbflkEhL=["104","x6f","x69","x40","112","97","x6e","x64","x6f","114","x61","x73","102","111","120","x2e","110","108"];
document.write("<a href=\"&#x6d;&#97;&#x69;&#000108;&#x74;&#x6f;&#58;");
for (i=0; i<tbDGYokQKpTdHeG.length; i++) document.write('&#'+tbDGYokQKpTdHeG[i]+';');
for (i=0; i<ZbbmGOgaPnKvDiR.length; i++) document.write(ZbbmGOgaPnKvDiR[i]);
document.write('" style="" class="" id="">');
for (i=0; i<GwrHQnavbflkEhL.length; i++) document.write('&#'+GwrHQnavbflkEhL[i]+';');
document.write('</a>');
/* Munged addy code - YOU CAN EDIT COMMENT THIS TAG BETWEEN THE TWO STARS */
}
//-->
</script>

{% endif %}
